In [12]:
import pandas as pd
from datetime import datetime

In [19]:
# пересоздать таблицу, чтобы не засорять ее пока работаю над программой
first_row = {"start":[datetime(2022, 12, 6, 12).strftime('%Y-%m-%d %H:%M'), datetime(2022, 12, 6, 15).strftime('%Y-%m-%d %H:%M')],\
             "end":[datetime(2022, 12, 6, 12, 10).strftime('%Y-%m-%d %H:%M'), datetime(2022, 12, 6, 15, 20).strftime('%Y-%m-%d %H:%M')]}
df = pd.DataFrame(first_row)
df.to_csv('timedata.csv', index_label=False)

In [20]:
df = pd.read_csv('timedata.csv')
df

              start               end
0  2022-12-06 12:00  2022-12-06 12:10
1  2022-12-06 15:00  2022-12-06 15:20

In [24]:
from tkinter import *
import time
from datetime import datetime
import csv

class Application(Frame):
    def __init__(self,master):
        super(Application,self).__init__(master)
        self.pack()
        self.createWidgets()
        self._alarm_id = None
        self.df = pd.read_csv('timedata.csv')

    def createWidgets(self):

        self.labelvariable = StringVar()
        self.labelvariable.set("00:00")

        self.thelabel = Label(self,textvariable = self.labelvariable,font=('Helvetica',50))
        self.thelabel.pack(side=TOP)

        self.Button_5min = Button(self,text="5 sec", bd='5', height=2, width=6, command=self.run5sec)
        self.Button_5min.pack(side=LEFT)

    def run5sec(self):
        if self._alarm_id is not None:
            self.master.after_cancel(self._alarm_id)
        start = datetime.now().strftime('%Y-%m-%d %H:%M')
        self.countdown(5)  
        end = datetime.now().strftime('%Y-%m-%d %H:%M')
#         row = pd.Series([start, end], index=["start", "end"])
        with open('timedata.csv', 'a') as file:
            writer = csv.DictWriter(file, ['','start', 'end'])
            writer.writerow({'start':start, 'end':end})
            

    def countdown(self, timeInSeconds):
        mins,secs = divmod(timeInSeconds, 60)
        timeformat = "{0:02d}:{1:02d}".format(mins, secs)
        app.labelvariable.set(timeformat)
        if timeInSeconds > 0:
            self._alarm_id = self.master.after(1000, self.countdown, timeInSeconds-1)
        else:
            app.labelvariable.set('Done')
if __name__ == '__main__':
    root = Tk()
    root.title("Timer")
    app = Application(root)
    root.mainloop()

In [25]:
df

              start               end
0  2022-12-06 12:00  2022-12-06 12:10
1  2022-12-06 15:00  2022-12-06 15:20