In [5]:
from tkinter import *
from tkinter import ttk
import pandas as pd

In [ ]:
# https://www.plus2net.com/python/tkinter-treeview-insert.php

In [6]:
df = pd.read_csv('timedata.csv')
df.head()

               date   time             start               end
0.0  06/12/22 12:00  10.00  2022-12-06 12:00  2022-12-06 12:10
1.0  06/12/22 15:00  20.00  2022-12-06 15:00  2022-12-06 15:20
NaN  30/12/22 18:00   1.25  2022-12-30 18:55  2022-12-30 18:57
NaN  30/12/22 19:00  10.00  2022-12-30 19:00  2022-12-30 19:10
NaN  30/12/22 19:00  10.00  2022-12-30 19:03  2022-12-30 19:13

In [1]:
from tkinter import ttk
import tkinter as tk
# Creating tkinter my_w
my_w = tk.Tk()
my_w.geometry("260x280") 
my_w.title("www.plus2net.com")  
# Using treeview widget
trv = ttk.Treeview(my_w, selectmode ='browse')
trv.grid(row=1,column=1,padx=30,pady=20)

# column identifiers 
trv["columns"] = ("1", "2")
# Defining headings, other option is tree
trv['show'] = 'tree' 
# width of columns and alignment 
trv.column("#0", width = 80, anchor ='c')
trv.column("1", width = 10, anchor ='c')
trv.column("2", width = 100, anchor ='c')
# Headings  
# respective columns
trv.heading("#0", text ="Label",anchor='c')
trv.heading("1", text ="id")
trv.heading("2", text ="Name",anchor='c')

trv.insert("",'end',iid=1,text='First',values=(1,'n1-Alex'))
trv.insert("",'end',iid=2,text='second',values=(2,'n2-Ravi'))
trv.insert("",'end',iid=3,text='third',values=(3,'n3-Ronn'))

my_w.mainloop()

In [13]:
from tkinter import ttk
import tkinter as tk
from tkinter import *


win = tk.Tk()
win.title('Table')

frm = Frame(win)
frm.pack(side=LEFT, padx=20)


trv = ttk.Treeview(frm, columns=(1,2), show='headings', height='5')
trv.pack()

trv.heading(1, text='date')
trv.heading(2, text='time')

for ind, row in df.iterrows():
    trv.insert('', 0, values=(row['date'], row['time']))

win.mainloop()